УчетВУправляющихДляГит1/src/WSReferences/WSСборОтчетностиРосстата/1.xsd

<xs:schema xmlns:ns1="http://schemas.datacontract.org/2004/07/Croc.Rosstat.Websbor.WebIntegration"
		xmlns:tns="http://tempuri.org/"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://tempuri.org/">
	<xs:import schemaLocation="file://2.xsd"
			namespace="http://schemas.datacontract.org/2004/07/Croc.Rosstat.Websbor.WebIntegration"/>
	<xs:element name="GetActualVersion">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Croc.Rosstat.Websbor.WebIntegration"
						minOccurs="0"
						name="request"
						nillable="true"
						type="q1:GetActualVersionRequest"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetActualVersionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Croc.Rosstat.Websbor.WebIntegration"
						minOccurs="0"
						name="GetActualVersionResult"
						nillable="true"
						type="q2:GetActualVersionResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetTemplatesInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Croc.Rosstat.Websbor.WebIntegration"
						minOccurs="0"
						name="request"
						nillable="true"
						type="q3:GetTemplatesInfoRequest"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetTemplatesInfoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Croc.Rosstat.Websbor.WebIntegration"
						minOccurs="0"
						name="GetTemplatesInfoResult"
						nillable="true"
						type="q4:ArrayOfTemplateInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetTemplateBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Croc.Rosstat.Websbor.WebIntegration"
						minOccurs="0"
						name="request"
						nillable="true"
						type="q5:GetTemplateBodyRequest"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetTemplateBodyResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Croc.Rosstat.Websbor.WebIntegration"
						minOccurs="0"
						name="GetTemplateBodyResult"
						nillable="true"
						type="q6:GetTemplateBodyResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>